#page {
    width: 800px;
    margin: 48px auto 28px;
    padding: 24px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

footer img {
    width: 16px;
    height: 16px;
}

@media (max-width: 868px) {
    #page {
        width: 90%;
        max-width: 800px;
        margin: 48px auto;
        padding: 24px;
    }
}

@media (max-width: 440px) {
    #page {
        width: 90%;
        margin: 24px auto;
        padding: 16px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    main {
        padding: 16px;
    }
}